openapi: 3.1.0
info:
  version: '6.2.0'
  title: FDX V6.2.0 Registry API
  description: Financial Data Exchange V6.2.0 Registry API
  contact:
    name: Financial Data Exchange
    url: 'https://financialdataexchange.org/'
    email: fdxsupport@financialdataexchange.org
  license:
    name: FDX API License Agreement (11-13-2019)
    url: 'https://financialdataexchange.org/common/Uploaded%20files/Policies/FDX%20API%20License%20Agreement-(11-13-2019).pdf'
  x-server-configuration:
    default-environment: production
    default-server: Registry
    environments:
    - name: production
      servers:
      - name: Registry
        url: 'https://financialdataexchange-prod.apigee.net/fdx-registry-api-v6.1.0'
servers:
  - url: 'https://financialdataexchange-prod.apigee.net/fdx-registry-api-v6.1.0'
    description: Financial Data Exchange V6 Registry API
tags:
  - name: Recipients
    description: Manage recipients
security:
  - bearerAuth: []

paths:
  ############################################################
  #
  # Recipient Registry paths
  #
  ############################################################

  /recipients:
    parameters:
      - $ref: '../components/fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: '../components/fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
    get:
      summary: Get Recipients
      operationId: getRegistryRecipients
      description: Get recipients
      tags:
        - Recipients
      parameters:
        - $ref: '../components/fdxapi.components.yaml#/components/parameters/OffsetQuery'
        - $ref: '../components/fdxapi.components.yaml#/components/parameters/LimitQuery'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '../components/fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryRecipients'
              examples:
                Example retrieval of a list of recipient records from the ecosystem registry:
                  value:
                    page:
                      nextOffset: nextoffset
                      prevOffset: prevoffset
                      total: 5000
                    links:
                      next:
                        href: /recipients?offset=nextoffset
                      prev:
                        href: /recipients?offset=prevoffset
                    recipients:
                      - recipient_id: '12345'
                        client_name: My Example Client
                        redirect_uris:
                          - 'https://partner.example/callback'
                        description: Recipient Application servicing financial use case requiring permissioned data sharing
                        logo_uri: 'https://client.example1.org/logo.png'
                        client_uri: 'https://example1.net/'
                        contacts:
                          - support@example1.net
                        scope: ACCOUNT_DETAILED TRANSACTIONS INVESTMENTS
                        duration_type:
                          - TIME_BOUND
                        duration_period: 365
                        lookback_period: 365
                        registry_references:
                          - registered_entity_name: Official recipient name
                            registered_entity_id: 4HCHXIURY78NNH6JH
                            registry: GLEIF
                      - recipient_id: '23456'
                        client_name: Another Example Client
                        redirect_uris:
                          - 'https://partner.example/callback'
                        description: Recipient Application servicing financial use case requiring permissioned data sharing
                        logo_uri: 'https://client.example2.org/logo.png'
                        client_uri: 'https://example2.net/'
                        contacts:
                          - support@example2.net
                        scope: ACCOUNT_DETAILED INVESTMENTS
                        duration_type:
                          - TIME_BOUND
                        duration_period: 365
                        lookback_period: 365
                        registry_references:
                          - registered_entity_name: Official recipient name
                            registered_entity_id: 8XKSJGEU2465KSOGI
                            registry: GLEIF

  /recipients/{recipientId}:
    parameters:
      - $ref: '../components/fdxapi.components.yaml#/components/parameters/FapiInteractionIdHeader'
      - $ref: '../components/fdxapi.components.yaml#/components/parameters/FdxApiActorTypeHeader'
    get:
      summary: Get Recipient by Id
      operationId: getRegistryRecipient
      description: Get a specific recipient
      tags:
        - Recipients
      parameters:
        - $ref: '#/components/parameters/RecipientIdPath'
      responses:
        '200':
          description: OK
          headers:
            x-fapi-interaction-id:
              $ref: '../components/fdxapi.components.yaml#/components/headers/x-fapi-interaction-id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistryRecipient'
              examples:
                Example retrieval of a recipient record from the ecosystem registry:
                  value:
                    recipient_id: '12345'
                    client_name: My Example Client
                    redirect_uris:
                      - 'https://partner.example/callback'
                    description: Recipient Application servicing financial use case requiring permissioned data sharing
                    logo_uri: 'https://client.example.org/logo.png'
                    client_uri: 'https://example.net/'
                    contacts:
                      - support@example.net
                    scope: ACCOUNT_DETAILED TRANSACTIONS INVESTMENTS
                    duration_type:
                      - TIME_BOUND
                    duration_period: 365
                    lookback_period: 365
                    registry_references:
                      - registered_entity_name: Official recipient name
                        registered_entity_id: 4HCHXIURY78NNH6JH
                        registry: GLEIF

components:

  securitySchemes:
    ############################################################
    #
    # Security Schemes
    #
    ############################################################

    bearerAuth:
      $ref: '../components/fdxapi.components.yaml#/components/securitySchemes/bearerAuth'

  parameters:
    ############################################################
    #
    # Recipient Registry request parameters
    #
    ############################################################

    RecipientIdPath:
      name: recipientId
      in: path
      description: Recipient Identifier. Uniquely identifies a Recipient
      required: true
      schema:
        $ref: '../components/fdxapi.components.yaml#/components/schemas/Identifier'

  schemas:
    ############################################################
    #
    # Recipient Registry data entities
    #
    ############################################################

    RegistryRecipient:
      title: Recipient record at ecosystem registry
      type: object
      description: >-
        Record of Recipient at the Ecosystem Registry.
        Properties in this structure use 'snake_case' names to match
        the properties in [IETF RFC 7591](https://datatracker.ietf.org/doc/rfc7591/).
      allOf:
        - $ref: '../components/fdxapi.components.yaml#/components/schemas/RecipientRequest'
        - type: object
          properties:
            recipient_id:
              type: string
              description: Recipient Id at ecosystem registry
      required:
        - recipient_id

    RegistryRecipients:
      title: Recipient records at ecosystem registry
      type: object
      description: >-
        Recipient records at Ecosystem Registry.
        Properties in this structure use 'snake_case' names to match
        the properties in [IETF RFC 7591](https://datatracker.ietf.org/doc/rfc7591/).
      allOf:
        - $ref: '../components/fdxapi.components.yaml#/components/schemas/PaginatedArray'
        - type: object
          properties:
            recipients:
              type: array
              items:
                $ref: '#/components/schemas/RegistryRecipient'
              description: Recipients retrieved by the operation
      required:
        - recipients
